*{
    box-sizing:border-box;
    background: #b2a8eb;
}
:root{
    --letra: bold;
    --color: #f6f6f6;
    --displ: inline-block;
    --colorFondo: rgb(129, 136, 155);
}
h1{
    text-align:center;
	font-weight:var(--letra);
}
form{
	width:270px;/*Tamaño que tendrá el form*/
	padding:17px;/*Espacio de relleno*/
	margin:auto;
	background-color:var(--colorFondo);/*Fondo del form*/
}

form label{
	width:72px;/*Tamaño de la letra en pixeles*/
	font-weight:var(--letra);
    display:var(--displ);
    background: var(--colorFondo);
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
	width:180px;
	padding:3px 10px;
	border:1px solid var(--color);
	border-radius:3px;
	background-color:var(--color);
	margin:8px 0;
	display:var(--displ);
}
form select{
    width:180px;
	padding:3px 10px;
	border:1px solid var(--color);
	border-radius:3px;
	background-color:var(--color);
	margin:8px 0;
	display:var(--displ);
}
form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:20px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;/*Cambiando el cursor cuando este este sobre el boton*/
}